@media only screen and (max-width: 768px) {
  caption {
    top: -140px;
    left: 25%;
  }
}

.button {
  width: 80%;
  display: flex;
  margin: auto;
}
.button button {
  margin-right: 20px;
}
/* Profile Page */
.profile__main {
  display: flex;
  width: 80%;
  padding-top: 50px;
  margin: auto;
}

.profile__left {
  display: flex;
  flex-direction: column;
}

.profile__card {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  width: 301px;
  padding: 20px;
  margin-bottom: 40px;
}

.profile__card > img {
  margin-bottom: 20px;
  width: 100%;
  border-radius: 20px;
}

.profile-table > tr {
  height: 30px;
}

.table-heading {
  background: #ee3123;
  text-align: center;
  padding: 15px 0;
  border-radius: 5px 5px 0 0;
}

.table-heading > h3 {
  color: #fff;
  font-size: 18px !important;
}

.card__info {
  width: 100%;
}

/*End of Profile Page */

.profile__right {
  margin-left: 50px;
}

.nav-link.active {
  font-weight: 700 !important;
  color: #ee3123 !important;
  background: none !important;
  border: none !important;
  border-bottom: 4px solid #ee3123 !important;
  border-radius: 2px;
}

.nav-link {
  color: black !important;
  border: none !important;
  font-size: 14px;
}

.nav-tabs {
  border-bottom: 6px solid rgb(223, 223, 223) !important;
}

.nav-tabs .nav-item {
  margin-bottom: -5px !important;
}

.tab-content {
  margin-top: 30px;
  background: #fff;
  padding: 20px;
}

.table td,
.table th {
  padding: 2rem !important;
  list-style: none;
}

.table td li {
  font-size: 14px;
  padding-bottom: 5px;
  font-weight: 400 !important;
}

.table td:nth-child(1) {
  font-weight: 700;
  width: 35%;
}

.table tr:nth-child(odd) td {
  background: #f4f4f4 !important;
}

b {
  font-weight: 700 !important;
}

@media only screen and (max-width: 1024px) {
  .profile__main {
    width: 90%;
    margin: auto;
  }
  .profile__right {
    margin-left: 10px;
  }
}

@media only screen and (max-width: 768px) {
  .profile__main {
    display: flex;
    flex-direction: column;
  }
  .profile__card {
    width: 100%;
  }

  .profile__right {
    margin-left: 0;
  }

  tr {
    display: flex;
    flex-direction: column;
    /* width: 650px; */
    margin-top: 20px;
  }
  .table td:nth-child(1) {
    width: 100%;
    text-align: center;
  }
  .container {
    padding-left: 0 !important;
  }
  .table td,
  .table th {
    padding: 10px !important;
  }

  .nav-item .nav-link.active {
    background: #ee3123 !important;
    border-radius: 50px;
    color: white !important;
    border: none !important;
  }
  .nav-tabs {
    border: none !important;
  }
}

@media only screen and (max-width: 480px) {
  tr {
    /* width: 300px; */
  }
}

body.scale-cv {
  font-size: 14px;
}
