@font-face {
  font-family: "Century Gothic";
  src: url("assets/fonts/CenturyGothic.eot");
  src: local("Century Gothic"), local("CenturyGothic"),
    url("assets/fonts/CenturyGothic.eot?#iefix") format("embedded-opentype"),
    url("assets/fonts/CenturyGothic.woff2") format("woff2"),
    url("assets/fonts/CenturyGothic.woff") format("woff"),
    url("assets/fonts/CenturyGothic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Century Gothic";
  src: url("assets/fonts/CenturyGothic-Bold.eot");
  src: local("Century Gothic Bold"), local("CenturyGothic-Bold"),
    url("assets/fonts/CenturyGothic-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("assets/fonts/CenturyGothic-Bold.woff2") format("woff2"),
    url("assets/fonts/CenturyGothic-Bold.woff") format("woff"),
    url("assets/fonts/CenturyGothic-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Century Gothic";
  src: url("assets/fonts/CenturyGothic-BoldItalic.eot");
  src: local("Century Gothic Bold Italic"), local("CenturyGothic-BoldItalic"),
    url("assets/fonts/CenturyGothic-BoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("assets/fonts/CenturyGothic-BoldItalic.woff2") format("woff2"),
    url("assets/fonts/CenturyGothic-BoldItalic.woff") format("woff"),
    url("assets/fonts/CenturyGothic-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Century Gothic";
  src: url("assets/fonts/CenturyGothic-Italic.eot");
  src: local("assets/fonts/Century Gothic Italic"),
    local("CenturyGothic-Italic"),
    url("assets/fonts/CenturyGothic-Italic.eot?#iefix")
      format("embedded-opentype"),
    url("assets/fonts/CenturyGothic-Italic.woff2") format("woff2"),
    url("assets/fonts/CenturyGothic-Italic.woff") format("woff"),
    url("assets/fonts/CenturyGothic-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #000;
}

html {
  font-family: "Century Gothic", sans-serif;
}

body {
  background: #f8f8f8 !important;
  font-family: "century Gothic";
}

.big__header {
  font-size: clamp(26px, 2.5vw, 30px);
  font-weight: 600;
}

.big__text {
  font-size: clamp(16px, 2.5vw, 18px);
  font-weight: 300;
}

.head__one {
  font-size: clamp(1.2rem, 2.5vw, 1.8rem);
  font-weight: 700;
}

.head__two {
  font-size: clamp(1.1rem, 2.5vw, 1.4rem);
  font-weight: 700;
}

.head__three {
  font-size: clamp(1rem, 2.5vw, 1.2rem);
  font-weight: 700;
}

.head__four {
  font-size: clamp(0.8rem, 2.5vw, 0.9rem);
  font-weight: 700;
}

.pt-1 {
  padding-top: 10px;
}
.pt-2 {
  padding-top: 20px;
}

.mb-1 {
  margin-bottom: 10px;
}

.mb-2 {
  margin-bottom: 20px;
}

.paragraph-one {
  font-size: clamp(0.5rem, 2.5rem, 0.8rem);
}

.profile-table {
  padding-top: 20px;
}

.color-1 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ffb200;
  margin-right: 10px;
}

.color-2 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #4339f2;
  margin-right: 10px;
}

.color-3 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #02a0fc;
  margin-right: 10px;
}

.color-4 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ff3a29;
  margin-right: 10px;
}

.color-5 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ff3a29;
  margin-right: 10px;
}

.color-6 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #03b740;
  margin-right: 10px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header img {
  width: clamp(190px, 40vw, 250px);
}

.legend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.legend p {
  margin-bottom: 0;
  font-weight: 600;
}

.company__left {
  background: #ee3123;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100vh;
  background-image: url(/assets/sidebar-bg.png);
}

.company__left h1 {
  color: white;
  width: 80%;
}

.company__left p {
  margin-top: 30px;
  color: white;
  width: 80%;
}

@media only screen and (max-width: 768px) {
  .company__left {
    width: 100%;
    height: 50vh;
    padding: 20px;
    margin: auto;
    margin-bottom: 50px;
  }
}

.company__right {
  height: 100%;
  margin: auto;
}

.company__right .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.company__right .wrapper .search_box {
  width: 50%;
  background: #fff;
  border-radius: 5px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px;
  -webkit-box-shadow: 0 8px 6px -10px #b3c6ff;
  box-shadow: 0 8px 6px -10px #b3c6ff;
}

.company__right .wrapper .search_box .dropdown {
  width: 150px;
  border-right: 2px solid #dde2f1;
  color: #9fa3b1;
  position: relative;
  cursor: pointer;
}

.company__right .wrapper .search_box .dropdown .default_option {
  text-transform: uppercase;
  padding: 13px 15px;
  font-size: 14px;
}

.company__right .wrapper .search_box .dropdown ul {
  position: absolute;
  top: 70px;
  left: -10px;
  background: #fff;
  z-index: 2;
  width: 150px;
  border-radius: 5px;
  padding: 20px;
  display: none;
  -webkit-box-shadow: 8px 8px 6px -10px #b3c6ff;
  box-shadow: 8px 8px 6px -10px #b3c6ff;
}

.company__right .wrapper .search_box .dropdown ul li {
  padding-bottom: 20px;
  list-style: none;
}

.company__right .wrapper .search_box .dropdown ul li:last-child {
  padding-bottom: 0;
}

.company__right .wrapper .search_box .dropdown ul li:hover {
  color: #6f768d;
}

.company__right .wrapper .search_box .dropdown .active {
  display: block;
}

.company__right .wrapper .search_box .dropdown:before {
  content: "";
  position: absolute;
  top: 18px;
  right: 20px;
  border: 8px solid;
  border-color: #ee3123 transparent transparent transparent;
}

.company__right .wrapper .search_box .search_field {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.company__right .wrapper .search_box .search_field .fas {
  top: 10px;
  right: 10px;
  font-size: 18px;
  color: #ee3123;
  cursor: pointer;
}

.company__right .wrapper .search_box .search_field .input {
  width: 100%;
  height: 100%;
  border: 0px;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 38px;
  color: #6f768d;
}

body {
  background: #f7f7f7;
}

.table {
  border-spacing: 0 0.85rem !important;
}

.table .dropdown {
  display: inline-block;
}

.table td,
.table th {
  vertical-align: middle;
  margin-bottom: 10px;
  border: none;
}

.table thead tr,
.table thead th {
  border: none;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  background: transparent;
}

.table td {
  background: #fff;
}

.table td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.table td:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.avatar {
  width: 2.75rem;
  height: 2.75rem;
  line-height: 3rem;
  border-radius: 50%;
  display: inline-block;
  background: transparent;
  position: relative;
  text-align: center;
  color: #868e96;
  font-weight: 700;
  vertical-align: bottom;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.avatar-sm {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 0.83333rem;
  line-height: 1.5;
}

.avatar-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.avatar-blue {
  background-color: #c8d9f1;
  color: #467fcf;
}

table.dataTable.dtr-inline.collapsed
  > tbody
  > tr[role="row"]
  > td:first-child:before,
table.dataTable.dtr-inline.collapsed
  > tbody
  > tr[role="row"]
  > th:first-child:before {
  top: 28px;
  left: 14px;
  border: none;
  box-shadow: none;
}

table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child,
table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > th:first-child {
  padding-left: 48px;
}

table.dataTable > tbody > tr.child ul.dtr-details {
  width: 100%;
}

table.dataTable > tbody > tr.child span.dtr-title {
  min-width: 50%;
}

table.dataTable.dtr-inline.collapsed > tbody > tr > td.child,
table.dataTable.dtr-inline.collapsed > tbody > tr > th.child,
table.dataTable.dtr-inline.collapsed > tbody > tr > td.dataTables_empty {
  padding: 0.75rem 1rem 0.125rem;
}

div.dataTables_wrapper div.dataTables_length label,
div.dataTables_wrapper div.dataTables_filter label {
  margin-bottom: 0;
}

@media (max-width: 767px) {
  div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    -ms-flex-pack: center !important;
    justify-content: center !important;
    margin-top: 1rem;
  }
}

.btn-icon {
  background: #fff;
}
.btn-icon .bx {
  font-size: 20px;
}

.btn .bx {
  vertical-align: middle;
  font-size: 20px;
}

.dropdown-menu {
  padding: 0.25rem 0;
}

.dropdown-item {
  padding: 0.5rem 1rem;
}

.badge {
  padding: 0.5em 0.75em;
}

.badge-success-alt {
  background-color: #d7f2c2;
  color: #7bd235;
}

.table a {
  color: #212529;
}

.table a:hover,
.table a:focus {
  text-decoration: none;
}

table.dataTable {
  margin-top: 12px !important;
}

.icon > .bx {
  display: block;
  min-width: 1.5em;
  min-height: 1.5em;
  text-align: center;
  font-size: 1.0625rem;
}

.btn {
  font-size: 0.9375rem;
  font-weight: 500;
  padding: 0.5rem 0.75rem;
}

.avatar-blue {
  background-color: #c8d9f1;
  color: #467fcf;
}

.avatar-pink {
  background-color: #fcd3e1;
  color: #f66d9b;
}

@media only screen and (max-width: 768px) {
  .company__right .wrapper {
    margin-bottom: 50px;
  }
  .company__right .wrapper .search_box {
    width: 100%;
  }
}

.company__right h2,
.company__right p {
  margin-left: 50px;
}

.company__right h2 {
  font-weight: 700;
  font-size: clamp(20px, 2.5vw, 22px);
}

.company__right p {
  margin-bottom: 20px;
}

.company__right .company__list {
  width: 600px;
  margin-left: 50px;
}

.company__right .company__list .company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.company__right .company__list .company .company__logo {
  padding: 20px;
  width: 288px;
  height: 76px;
  border: 1px solid rgb(160, 160, 160);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 10px;
  margin: 10px;
  background: #fff;
  cursor: pointer;
}

.company__right .company__list .company .company__logo img {
  mix-blend-mode: multiply;
  background: none;
  object-fit: scale-down;
  width: 100%;
}

@media only screen and (max-width: 640px) {
  .company__right .company__list .company .company__logo {
    width: 100%;
  }
}

.company__right .company__list .company :hover {
  border-color: #ee3123;
  border-width: 3px;
}

@media only screen and (max-width: 640px) {
  .company__right .company__list .company {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media only screen and (max-width: 768px) {
  .company__right .company__list {
    width: 90%;
    margin-left: 0;
    margin: auto;
  }
}

.header {
  height: 70px;
  background: #ee3123;
  margin-bottom: 50px;
}

.main__content {
  width: 70%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.main__content .card__body {
  width: 100%;
  height: 100%;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  margin: 20px 0;
}

.main__content .card__body .cardLegend__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.main__content .card__body .cardLegend__title .legend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.main__content .card__body .cardLegend__title .legend p {
  font-size: 0.8rem;
  font-weight: 600;
  margin-bottom: 0;
}

.main__content .card__body .charts .charts__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.main__content .card2__body {
  width: 100%;
  height: 100%;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.main__content .card__title h2 {
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
}

.main__content .charts__left {
  width: 40%;
}

.main__content .charts__right {
  width: 55%;
  margin-top: 20px;
}

.main__content .charts__right .card__activity-body {
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

.main__content .charts__right .card__activity-body .card__title {
  text-align: center;
}

.main__content .charts__right .card__activity-body .activity__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-top: 30px;
}

.main__content
  .charts__right
  .card__activity-body
  .activity__card
  .activity__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main__content
  .charts__right
  .card__activity-body
  .activity__card
  .activity__main
  .icon {
  margin-left: 10px;
}

.main__content .charts__right .card__activity-body .cardLegend__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding-top: 10px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main__content .charts__right .chart-bar {
  margin-top: 20px;
  background: #fff;
}

.main__content .charts__right .card__staff {
  background: #fff;
  padding: 20px;
  background-image: url(/assets/icons/bg-world.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}

.main__content .charts__right .card__staff .card__staff-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0;
}

.main__content .charts__right .card__staff .card__staff-body .icon {
  margin-left: 20px;
  margin-right: 80px;
}

@media only screen and (max-width: 1024px) {
  .main__content {
    width: 95%;
    margin: auto;
  }
}

@media only screen and (max-width: 768px) {
  .main__content {
    width: 90%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .main__content .charts__left {
    width: 100%;
  }
  .main__content .charts__right {
    width: 100%;
  }
  .main__content .charts__right .card__staff .card__staff-body .icon {
    margin-right: 20px;
  }
}

table.dataTable.nowrap th,
table.dataTable.nowrap td {
  white-space: normal !important;
}

table.dataTable.th.sorting {
  width: 100px !important;
}
table.dataTable thead > tr > th.sorting_asc,
table.dataTable thead > tr > th.sorting_desc,
table.dataTable thead > tr > th.sorting,
table.dataTable thead > tr > td.sorting_asc,
table.dataTable thead > tr > td.sorting_desc,
table.dataTable thead > tr > td.sorting {
  width: 30px !important;
}

.main-content {
  width: 95%;
  margin: auto;
}

.table {
  border-spacing: 0 0.5rem !important;
}

.table .dropdown {
  display: inline-block;
}

.table td,
.table th {
  vertical-align: middle;
  margin-bottom: 10px;
  border: none;
}

.table thead tr,
.table thead th {
  border: none;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  background: transparent;
}

.table td {
  background: #fff;
}

.table td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.table td:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.avatar {
  width: 2.75rem;
  height: 2.75rem;
  line-height: 3rem;
  border-radius: 10px;
  display: inline-block;
  background: transparent;
  position: relative;
  text-align: center;
  color: #868e96;
  font-weight: 700;
  vertical-align: bottom;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.avatar-sm {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 0.83333rem;
  line-height: 1.5;
}

.avatar-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.avatar-blue {
  background-color: #c8d9f1;
  color: #467fcf;
}

table.dataTable.dtr-inline.collapsed
  > tbody
  > tr[role="row"]
  > td:first-child:before,
table.dataTable.dtr-inline.collapsed
  > tbody
  > tr[role="row"]
  > th:first-child:before {
  top: 28px;
  left: 14px;
  border: none;
  box-shadow: none;
}

table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child,
table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > th:first-child {
  padding-left: 48px;
}

table.dataTable > tbody > tr.child ul.dtr-details {
  width: 100%;
}

table.dataTable > tbody > tr.child span.dtr-title {
  min-width: 50%;
}

table.dataTable.dtr-inline.collapsed > tbody > tr > td.child,
table.dataTable.dtr-inline.collapsed > tbody > tr > th.child,
table.dataTable.dtr-inline.collapsed > tbody > tr > td.dataTables_empty {
  padding: 0.75rem 1rem 0.125rem;
}

div.dataTables_wrapper div.dataTables_length label,
div.dataTables_wrapper div.dataTables_filter label {
  margin-bottom: 0;
}

@media (max-width: 767px) {
  div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    -ms-flex-pack: center !important;
    justify-content: center !important;
    margin-top: 1rem;
  }
}

.btn-icon {
  background: #fff;
}
.btn-icon .bx {
  font-size: 20px;
}

.btn .bx {
  vertical-align: middle;
  font-size: 20px;
}

.dropdown-menu {
  padding: 0.25rem 0;
}

.dropdown-item {
  padding: 0.5rem 1rem;
}

.badge {
  padding: 0.6em 0.85em;
}

.badge-success-alt {
  background-color: #ee3123;
  color: #fff;
}
.badge-good-alt {
  background-color: #29cc97;
  color: #fff;
}
.badge-fair-alt {
  background-color: #fdd317;
  color: #fff;
}

.table a {
  color: #212529;
}

.table a:hover,
.table a:focus {
  text-decoration: none;
}

table.dataTable {
  margin-top: 12px !important;
}

.icon > .bx {
  display: block;
  min-width: 1.5em;
  min-height: 1.5em;
  text-align: center;
  font-size: 1.0625rem;
}

.btn {
  font-size: 0.9375rem;
  font-weight: 500;
  padding: 0.5rem 0.75rem;
}

.avatar-blue {
  background-color: #c8d9f1;
  color: #467fcf;
}

.avatar-pink {
  background-color: #fcd3e1;
  color: #f66d9b;
}

.table-main {
  background: #fff;
  padding: 20px;
  font-size: clamp(10px, 2.5vw, 14px);
}

.page-item.active .page-link {
  background: #ee3123;
  border-color: #ee3123;
}

.pdf {
  background: #ee3123;
  color: white;
}

.xlsx {
  background: #42e700;
  color: #fff;
  margin-right: 20px;
}

caption {
  position: absolute;
  top: -120px;
  right: 0;
}

/*# sourceMappingURL=style.css.map */
