$primary-color: #ee3123;
$secondary-color: #5555;

body {
  background: #f8f8f8;
}

.head__one {
  font-size: clamp(1.2rem, 2.5vw, 1.8rem);
  font-weight: 700;
}

.head__two {
  font-size: clamp(1.1rem, 2.5vw, 1.4rem);
  font-weight: 700;
}

.head__three {
  font-size: clamp(1rem, 2.5vw, 1.2rem);
  font-weight: 700;
}

.color-1 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ffb200;
  margin-right: 10px;
}
.color-2 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #4339f2;
  margin-right: 10px;
}
.color-3 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #02a0fc;
  margin-right: 10px;
}
.color-4 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ff3a29;
  margin-right: 10px;
}
.color-5 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ff3a29;
  margin-right: 10px;
}
.color-6 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #03b740;
  margin-right: 10px;
}

.legend {
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    margin-bottom: 0;
    font-weight: 600;
  }
}

.company__left {
  background: $primary-color;
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url(/assets/sidebar-bg.png);

  h1 {
    color: white;
    width: 80%;
    font-size: clamp(26px, 2.5vw, 40px);
  }
  p {
    margin-top: 30px;
    color: white;
    font-size: clamp(16px, 2.5vw, 22px);
    width: 80%;
    font-weight: 300;
  }

  @media only screen and (max-width: 768px) {
    width: 100%;
    height: 50vh;
    padding: 20px;
    margin: auto;
    margin-bottom: 50px;
  }
}

.company__right {
  height: 100%;
  margin: auto;

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .search_box {
      width: 50%;
      background: #fff;
      border-radius: 5px;
      height: 40px;
      display: flex;
      align-items: center;
      padding: 10px;
      box-shadow: 0 8px 6px -10px #b3c6ff;

      .dropdown {
        width: 150px;
        border-right: 2px solid #dde2f1;
        color: #9fa3b1;
        position: relative;
        cursor: pointer;

        .default_option {
          text-transform: uppercase;
          padding: 13px 15px;
          font-size: 14px;
        }
        ul {
          position: absolute;
          top: 70px;
          left: -10px;
          background: #fff;
          z-index: 2;
          width: 150px;
          border-radius: 5px;
          padding: 20px;
          display: none;
          box-shadow: 8px 8px 6px -10px #b3c6ff;

          li {
            padding-bottom: 20px;
            list-style: none;
          }
          li:last-child {
            padding-bottom: 0;
          }
          li:hover {
            color: #6f768d;
          }
        }
        & .active {
          display: block;
        }
        &:before {
          content: "";
          position: absolute;
          top: 18px;
          right: 20px;
          border: 8px solid;
          border-color: $primary-color transparent transparent transparent;
        }
      }
      .search_field {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        position: relative;

        .fas {
          top: 10px;
          right: 10px;
          font-size: 18px;
          color: $primary-color;
          cursor: pointer;
        }
        .input {
          width: 100%;
          height: 100%;
          border: 0px;
          font-size: 16px;
          padding-left: 20px;
          padding-right: 38px;
          color: #6f768d;
        }
      }
    }

    @media only screen and (max-width: 768px) {
      .search_box {
        width: 100%;
      }
      margin-bottom: 50px;
    }
  }

  h2,
  p {
    margin-left: 50px;
  }

  h2 {
    font-weight: 700;
    font-size: clamp(20px, 2.5vw, 22px);
  }

  p {
    margin-bottom: 20px;
  }
  .company__list {
    width: 600px;
    margin-left: 50px;

    .company {
      display: flex;
      justify-content: space-between;

      .company__logo {
        padding: 20px;
        width: 288px;
        height: 76px;
        border: 1px solid $primary-color;
        display: flex;
        align-items: center;
        border-radius: 10px;
        margin: 10px;
        background: #fff;
        cursor: pointer;

        img {
          mix-blend-mode: multiply;
          background: none;
        }
        @media only screen and (max-width: 640px) {
          width: 100%;
        }
      }
      & :hover {
        background: $primary-color;
      }
      @media only screen and (max-width: 640px) {
        display: flex;
        flex-direction: column;
      }
    }
    @media only screen and (max-width: 768px) {
      width: 90%;
      margin-left: 0;
      margin: auto;
    }
  }
}

.header {
  height: 70px;
  background: #ee3123;
  margin-bottom: 50px;
}

.main__content {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;

  .card__body {
    width: 100%;
    height: 100%;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    margin: 20px 0;

    .cardLegend__title {
      display: flex;
      justify-content: space-evenly;
      .legend {
        display: flex;
        align-items: center;
        justify-content: space-between;

        p {
          font-size: 0.8rem;
          font-weight: 600;
          margin-bottom: 0;
        }
      }
    }

    .charts {
      .charts__main {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .card2__body {
    width: 100%;
    height: 100%;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .card__title h2 {
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
  }

  .charts__left {
    width: 40%;
  }
  .charts__right {
    width: 55%;
    margin-top: 20px;

    .card__activity-body {
      background: #fff;
      border-radius: 10px;
      padding: 20px;
      margin-bottom: 20px;
      .card__title {
        text-align: center;
      }

      .activity__card {
        display: flex;
        justify-content: space-around;
        margin-top: 30px;

        .activity__main {
          display: flex;
          align-items: center;
          .icon {
            margin-left: 10px;
          }
        }
      }
      .cardLegend__title {
        display: flex;
        justify-content: space-around;
        padding-top: 10px;
        align-items: center;
      }
    }

    .chart-bar {
      margin-top: 20px;
      background: #fff;
    }
    .card__staff {
      background: #fff;
      padding: 20px;
      background-image: url(/assets/icons/bg-world.png);
      background-repeat: no-repeat;
      background-position: bottom right;

      .card__staff-body {
        display: flex;
        margin: 20px 0;
        .icon {
          margin-left: 20px;
          margin-right: 80px;
        }
      }
    }
  }

  @media only screen and (max-width: 1024px) {
    width: 95%;
    margin: auto;
  }
  @media only screen and (max-width: 768px) {
    width: 90%;
    margin: auto;

    display: flex;
    flex-direction: column;

    .charts__left {
      width: 100%;
    }
    .charts__right {
      width: 100%;

      .card__staff {
        .card__staff-body {
          .icon {
            margin-right: 20px;
          }
        }
      }
    }
  }
}
